{% extends 'base.html' %}

{% block content %}


<div class="about-div">
    <h2 class="section-title">About the Developer</h2>
    <div class="features-container">
        <div class="feature-card">
            <img src="https://media.licdn.com/dms/image/v2/D5603AQHMeD_MrVlPxQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718259142479?e=1735171200&v=beta&t=HFPi1OdCcvS3EwKFwYEy1EE6C5GcYBikEj1BBkVi1is" alt="Ishan Img" class="feature-image">
            <h3>Ishan Mishra</h3>
            <p>Ishan Mishra is an engineering student with an insatiable curiosity for technology. His journey into the world of coding began with a fascination for innovation and how things work. When he’s not coding, Ishan explores new places, captures moments in vlogs, and immerses himself in hip-hop music. He’s a storyteller and dreamer, eager to connect with others to create something extraordinary
                I am batman
            </p>
        </div>
    </div>
</div>


{% endblock %}